<html>
    <body>
        <h3>Registration Requests List</h3>
        <table border="1" cellpadding="7" cellspacing="7">
            <tr>
                <th>Sl.No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Accept</th>
                <th>Reject</th>
            </tr>
            <%
                if(data.length){
                    for(var i=0;i < data.length;i++){ %>
                        <tr>
                          <td><%=(i+1)%></td>
                          <td><%=data[i].Name%></td>
                          <td><%=data[i].email%></td>
                          <td><%=data[i].phone%></td>
                          <td><%=data[i].address%></td>
                          <td><input type="button" value="Accept" formaction="/api/warden/acceptReg"/></td>
                          <td><input type="button" value="Reject" formaction="/api/warden/rejectReg"/></td>
                        </tr>
                   <% }
                }else{ %>
                    <tr>
                      <td colspan="3">No Registration pending</td>
                    </tr>
                  <% } %>
        </table>
    </body>
</html>
