<html>
  <body>
    <h2>User Details</h2>
    <div>Name : <%= data.name%></div>
    <div>Email : <%= data.email%></div>
    <div>phone : <%= data.phone%></div>
    <div>Address : <%= data.address%></div>
    <div>Room no : <%= data.Room%></div>
    <div>Rent Due : <%= data.Due%></div>
    <div>Rent Paid : <%= data.Paid%></div>
    <div>Total Rent : <%= data.Rent%></div>
    <div>Total leaves : <%= data.leaves%></div>
    <div>Leaves applied : <%= data.applied%></div>
    <div>Leaves Remaining : <%= data.remaining%></div>
  </body>
</html>
